**/dist
**/node_modules
profiles/
.DS_Store
.env
brym.zip
.eslintcache
scripts/output/
scripts/*.htm

# Xcode
EvenBetterRYM/
DerivedData/

.claude/

apple_music_source
apple_music_various_artists_release

e2e/urls.json

Release Editing - Rate Your Music*.html
Release Editing - Rate Your Music*.png

app store submission stuff/v1.2/
resume stuff/