**/dist
**/node_modules
profiles/
.DS_Store
.env
brym.zip
.eslintcache
scripts/output/
scripts/*.htm

# Xcode
EvenBetterRYM/build/
EvenBetterRYM/*.xcodeproj/xcuserdata/
EvenBetterRYM/*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/

.claude/

apple_music_source
apple_music_various_artists_release